/* ------------------------------------- 
		GLOBAL 
------------------------------------- */
* { 
	margin:0;
	padding:0;
}
* { font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; }

img { 
	max-width: 100%; 
}

.collapse {
	margin:0;
	padding: 0 0 0 20px;
}

body {
	-webkit-font-smoothing:antialiased; 
	-webkit-text-size-adjust:none; 
	width: 100%!important; 
	height: 100%;
}


/* ------------------------------------- 
		ELEMENTS 
------------------------------------- */
a { color: #a9a9a9;}
a:link {
    text-decoration: none;
    color: #1790D2;
}

.btn {
	text-decoration:none;
	color: #FFF;
	background-color: #666;
	padding:10px 16px;
	font-weight:bold;
	margin-right:10px;
	text-align:center;
	cursor:pointer;
	display: inline-block;
}

p.callout {
	padding: 20px 0 0 0;
	background-color:#a9a9a9;
	margin-bottom: 15px;
    font-size: 24px;
    text-align: center;
    line-height: 1.2;
}

.quote-name {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    padding-bottom: 20px;
    color: #0B4E78;

}


table.social {
/* 	padding:15px; */
	background-color: #ebebeb;
	
}
.social .soc-btn {
	padding: 3px 7px;
	font-size:12px;
	margin-bottom:10px;
	text-decoration:none;
	color: #FFF;font-weight:bold;
	display:block;
	text-align:center;
}
a.fb { background-color: #3B5998!important; }
a.tw { background-color: #1daced!important; }
a.gp { background-color: #DB4A39!important; }
a.ms { background-color: #000!important; }

.sidebar .soc-btn { 
	display:block;
	width:100%;
}

.sidebar hr {
    border: 0;
    height: 1px;
    color: #0D6CA8;
    background-color: #0D6CA8;
    padding: 0 10px 0 10px;

}

.gray-bar {
    border-bottom: 1px solid #A8A6A6;
    padding: 10px;
}

.headshot {
    float: right;
    margin: 0 0 5px 5px;
}

.banner-image {
    margin-left: 25px;
    padding: 20px 0;
}

/* ------------------------------------- 
		HEADER 
------------------------------------- */
table.head-wrap { 
    width: 100%;
    background-color: #121212;
    padding: 0px;
    border-bottom: 30px solid #1790D2;

}

/*.header.container table td.logo {*/



/*}*/
.header.container table td.label {
    padding: 0px;
    padding-bottom: -10px;
    padding-left: 0px;


}

.logo {
    max-width: 100px;
    align: right;
    position: absolute;
    margin-left: 250px;
    margin-top: -30px;
}

.date {
    margin-top: 10px;
    position:absolute;
}


/* ------------------------------------- 
		BODY 
------------------------------------- */
table.body-wrap { 
    width: 100%;
    background-color: #a9a9a9;
}


/* ------------------------------------- 
		FOOTER 
------------------------------------- */
table.footer-wrap { 
    width: 100%;	
    clear:both!important;
    background-color: #121212;
}
.footer-wrap .container td.content  p { border-top: 1px solid rgb(215,215,215); padding-top:15px;}
.footer-wrap .container td.
 p {
	font-size:10px;
	font-weight: bold;
	
}

.social a {
    display: block;
    width: 66px;
    height: 65px;
    float: left;
    clear: none;
    margin-right: 10px
}

.social-btn-table {
    padding: 10px 0px 0px 0px;
}


.social a.fb {
    background: transparent url(https://s3.amazonaws.com/agaassets/images/icon-socials.png) no-repeat 0 -65px!important;

}

.social a.fb:hover {
    background-position: 0 0
}

.social a.li {
    background: transparent url(https://s3.amazonaws.com/agaassets/images/icon-socials.png) no-repeat -66px -65px
}

.social a.li:hover {
    background-position: -66px 0
}

.social a.yt {
    background: transparent url(https://s3.amazonaws.com/agaassets/images/icon-socials.png) no-repeat -132px -65px
}

.social a.yt:hover {
    background-position: -132px 0
}

.social a.tw {
    background: transparent url(https://s3.amazonaws.com/agaassets/images/icon-socials.png) no-repeat -198px -65px!important;
}

.social a.tw:hover {
    background-position: -198px 0
}

.footer-address {
    color: #a9a9a9;
    font-size: 14px;


}

/* ------------------------------------- 
		TYPOGRAPHY 
------------------------------------- */


h1,h2,h3,h4,h5,h6 {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    line-height: 1.1;
    margin-bottom:15px;
    color:#000;

}
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small { font-size: 60%; color: #6f6f6f; line-height: 0; text-transform: none; }

h1 { font-weight:200; font-size: 44px; color: #fff; font-weight: bold; }
h2 { font-weight:700; font-size: 37px; color: #0B4E78; padding: 5px 0 0 0px; }
h3 { font-weight:500; font-size: 14px; color: #000; font-weight: 700; }
h4 { font-weight:500; font-size: 20px; color: #fff;}
h5 { font-weight:900; font-size: 17px; color: #fff; padding-left: 20px; margin-top: -5px; }
h6 { font-weight:100; font-size: 13px; color: #7BD1F6;
    background-color: #0B4E78; font-weight: 300; line-height: 1.3}
.h2-small { font-weight: 300; font-size: 20px; color: #0B4E78; text-align: center; padding-top: 20px; }

.collapse { margin: 0!important;}

p {
    font-weight: normal;
    font-size: 14px;
    line-height: 1.4;
    padding-bottom: 0px;

}

ul {
	/*margin-bottom: 10px;*/
	font-weight: normal; 
	font-size:14px; 
	line-height:1.4;
    /*background-color: #fff;*/
    padding: 20px 20px 0 20px;
    /*border-radius: 1em;*/
}
p.lead { font-size:17px; }
p.last { margin-bottom:0px;}

ul li {
	margin-left:5px;
	list-style-position: inside;
    color: #fff;
    background-color: #0B4E78;
    margin-right: 10px;

}


.question-text {
    font-weight: bold;
    font-size: 14px;
    color: #000;
}


/* ------------------------------------- 
		SIDEBAR 
------------------------------------- */
ul.sidebar {
	background-color: #0B4E78;
	display:block;
	list-style-type: none;
    max-width: 200px;
    margin-top: 17px;
    padding-bottom: 15px;


}
ul.sidebar li { display: block; margin:0;}
ul.sidebar li a {
	text-decoration:none;
    background-color: #0B4E78;
	margin-right: 10px;

/* 	text-align:center; */
	cursor:pointer;
	/*border-bottom: 1px solid #777777;*/
	/*border-top: 1px solid #FFFFFF;*/
	display:block;

}
ul.sidebar li a.last { border-bottom-width:0px;}
ul.sidebar li a h1,ul.sidebar li a h2,ul.sidebar li a h3,ul.sidebar li a h4,ul.sidebar li a h5,ul.sidebar li a h6,ul.sidebar li a p { margin-bottom:0!important;  }

.announcments {
    padding: 0 0 15px 0;
    text-transform: uppercase;
    margin: 10px 0 10px 0;
}

.orange-header {
    color: #EF993C;
    font-weight: 400;
}

/* --------------------------------------------------- 
		RESPONSIVENESS
		Nuke it from orbit. It's the only way to be sure. 
------------------------------------------------------ */

/* Set a max-width, and make it display as block so it will automatically stretch to that width, but will also shrink down on a phone or something */
.container {
	display:block!important;
	max-width:800px!important;
	margin:0 auto!important; /* makes it centered */
	clear:both!important;
}

/* This should also be a block element, so that it will fill 100% of the .container */
.content {
	padding:15px;
	max-width:600px;
	margin:0 auto;
	display:block;
}

.content-text {
    max-width: 600px;
    background-color: #fff;
    padding: 20px;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    border-radius: 1em;
    -webkit-box-shadow: 1px px 3px #999;
    -moz-box-shadow: 1px 1px 3px #999;
    box-shadow: 0px 0px 2px #999;
}

.content-text hr {
    border: 0;
    height: 1px;
    color: #a9a9a9;
    background-color: #a9a9a9;
    margin-top: 15px;

}

.notice-text {
    font-size: 14px;
    color: #1790D2;

}

/* Let's make sure tables in the content area are 100% wide */
.content table { width: 100%; }


/* Odds and ends */
.column {
	width: 500px;
	float:left;

}
.column tr td { padding: 15px; }
.column-wrap { 
	padding:0!important; 
	margin:0 auto; 
	max-width:800px!important;
    

}
.column table { width:100%;}
.social .column {
	width: 280px;
	min-width: 279px;
	float:left;
    background-color: #fff;
}

/* Be sure to place a .clear element after each set of columns, just to be safe */
.clear { display: block; clear: both; }


/* ------------------------------------------- 
		PHONE
		For clients that support media queries.
		Nothing fancy. 
-------------------------------------------- */
@media only screen and (max-width: 600px) {
	
	a[class="btn"] { display:block!important; margin-bottom:10px!important; background-image:none!important; margin-right:0!important;}

	div[class="column"] { width: auto!important; float:none!important;}
	
	table.social div[class="column"] {
		width:auto!important;
	}

    ul.sidebar {
      max-width: 600px;
      margin: 0 20px 0 20px;
    }



    h1 { font-weight:200; font-size: 20px; color: #fff; font-weight: bold; }
    h2 { font-weight:700; font-size: 30px; color: #0B4E78; padding: 5px 0 0 0px; }
    h5 { font-weight:900; font-size: 12px; color: #fff; padding: 5px 0 0px 20px; }

    p.callout {
        padding: 20px 0 0 0;
        background-color:#a9a9a9;
        margin-bottom: 15px;
        font-size: 20px;
        text-align: center;
        line-height: 1.2;
    }

    .footer-address {
        font-size: 19px;
    }

    .banner-image {
        max-width: 200px;
        /*margin-left: 25px;*/
        padding: 20px 0;
    }
    
    .logo {
        max-width: 70px;
        margin-left: 75px;
        padding-top: 10px;
    }

    .social-btn-table {
        padding: 10px 0px 0px 0px;
    }

}